
iframe {
    display:flex;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
}

h1 {
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin: 0 auto;
    width: max-content;
    max-height:50px;
}

.imageOverlay
{   
    position: relative;
    height: inherit;
    max-width: 100%;
    background-color: rgb(76, 181, 76, 0.5);
}

body {
    background-image: url('EventsBackground.jpg');
    filter: rgb(76, 181, 76, 0.5);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    color:white;

}