
iframe {
    display:flex;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    max-width: 100%;
    min-width: 50%;
}

.titlediv {
    text-align:center;
}
.title {
    color:white;
    text-align: center;
    background-color: rgb(76, 181, 76, 0.5);
    display:inline-block;
}

body {
    background-image: url('EventsBackground.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
   

}

.flyer {
    display:block;
    margin:auto;
    width:50%;
    justify-content:center;
    padding-top:50px;
    padding-bottom:20px;
}

.visit{
    font-weight: bold;
}

.map {
    padding-left:30px;
}

.info {
    padding-left:50px;
}