
iframe {
    display:flex;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    max-width: 100%;
    min-width: 50%;
}

h1 {
    color:white;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    text-align: center;
    /* height: 200px; */
    background-color: rgb(76, 181, 76, 0.5);
    /* margin: auto; */
    /* width: max-content; */
    /* max-height:50px; */
}

body {
    background-image: url('EventsBackground.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
   

}

.flyer {
    display:block;
    margin:auto;
    width:50%;
    justify-content:center;
    padding-top:50px;
}

.footer{
    display:flex;
    padding-top:20px;
    position: static; 
    bottom: 0;
    left:0;
    text-align:center;
}

.mediaicons {
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}

.icons {
    padding-left: 200px;
    padding-top: 75px;
}
