
header {
    /* clearfix hack */
    overflow: auto; 
    /* aligns image and text to center of div */
    display: flex;
    align-items: center;
}


#headerImage {
    float: left;
    display: inline;
}

#headerText {
    color: rgb(30, 42, 154);
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background-color: rgb(41, 197, 41);
}
/* nav dropdown text styling */
.dropbtn, .dropdown-content a {
    background-color: inherit;
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem; 
    color: black;
    text-decoration: none;    
}

.dropbtn {
    /* had to use rem here bc buttons are weird */
    padding: 1rem;
    border: none;
}
.dropdown {
    display: inline-block;    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: ghostwhite;
}

.dropdown-content a {
    padding: 1rem; 
}

/* on mouse hover */

/* display drop box */
.dropdown:hover .dropdown-content, .dropdown-content a {
    display: block;
}

/* button shadow effect */
.dropdown:hover .dropbtn {
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

.dropdown:hover .dropdown-content {
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-content a:hover {
    background-color:rgb(182, 182, 182);
}


p{
    color: rgb(108, 156, 202);
}

.footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    display:flex;
    justify-content:normal;
    float:inline-end;
    min-height:100px;
}




