
html, body {
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    padding: 1%;
}


header {
    /* clearfix hack */
    overflow: auto; 
    /* aligns image and text to center of div */
    display: flex;
    align-items: center;
    overflow: visible;
}


#headerImage {
    float: left;
    display: inline;
}

#headerText {
    color: rgb(30, 42, 154);
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    text-shadow: 2px 2px 0px #FFFFFF;
}

nav {
    background-color: rgb(41, 197, 41);
    position: sticky;
    top:0%;
    z-index: 1;
}
/* nav dropdown text styling */
.dropbtn, .dropdown-content a {
    background-color: inherit;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5rem; 
    color: black;
    text-decoration: none;    
}

.dropbtn {
    /* had to use rem here bc buttons are weird */
    padding: 1rem;
    border: none;
}
.dropdown {
    display: inline-block;    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: ghostwhite;
}

.dropdown-content a {
    padding: 1rem; 
}

/* on mouse hover */

/* display drop box */
.dropdown:hover .dropdown-content, .dropdown-content a {
    display: block;
}

/* button shadow effect */
.dropdown:hover .dropbtn {
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

.dropdown:hover .dropdown-content {
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-content a:hover {
    background-color:rgb(182, 182, 182);
}


.aboutusp {
    color: rgb(0, 0, 0);
    padding-left:50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.footer{
    background-color: rgb(41, 197, 41);
    display:flex;
    position: absolute; 
    bottom: 0;
    left:0;
    width:100%;
    text-align:center;
    height:auto;
}

.mediaicons {
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}

.icons {
    padding-left: 100px;
    padding-top:25px;
}

b {
    color:black;
}

.socialtitle {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#page-container {
    position:relative;
    min-height:100vh;
}

#content-wrap {
    padding-bottom:15rem;
}



