iframe {
    display:flex;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    max-width: 100%;
    min-width: 50%;
}

.h1Cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    color:white;
    background-color: rgb(76, 181, 76, 0.5);
    display: inline-block; 
}

body {
    background-image: url('EventsBackground.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;

}

.button {
    padding:10px;
    font-size:15px;
    background-color:rgb(108, 92, 197);
    border-color:green;
    color:white;
    border-radius:8px;
    margin: 75px;
 }
 
 .buttondiv {
    text-align:center;
    
 }

 .button-container {
    justify-content: center;
    align-items: center;
    display: flex;
  }

.white-box {
    background-color: white;
    color: black;
    margin-left: 30%;
    margin-right: 30%;
}